In [42]:
import pandas as pd
import numpy as np
import itertools
from collections import Counter

In [2]:
df_int = pd.read_csv('gene_int.csv')
df_int.head()

   Unnamed: 0 geneID1 geneID2  interaction
0           0  PA0001  PA0002            1
1           1  PA0001  PA0003            1
2           2  PA0001  PA0004            1
3           3  PA0001  PA0010            1
4           4  PA0001  PA0357            1

In [3]:
df_int = df_int.drop('Unnamed: 0', axis=1)
df_int.head()

  geneID1 geneID2  interaction
0  PA0001  PA0002            1
1  PA0001  PA0003            1
2  PA0001  PA0004            1
3  PA0001  PA0010            1
4  PA0001  PA0357            1

In [4]:
df_non_int = pd.read_csv('gene_non_int.csv')
df_non_int.head()

   Unnamed: 0 geneID1 geneID2  interaction
0           0  PA1097  PA3162            0
1           1  PA1097  PA2008            0
2           2  PA1097  PA4067            0
3           3  PA1096  PA1763            0
4           4  PA1096  PA0548            0

In [5]:
df_non_int = df_non_int.drop('Unnamed: 0', axis=1)
df_non_int.head()

  geneID1 geneID2  interaction
0  PA1097  PA3162            0
1  PA1097  PA2008            0
2  PA1097  PA4067            0
3  PA1096  PA1763            0
4  PA1096  PA0548            0

In [6]:
frames = [df_int, df_non_int]
df = pd.concat(frames)
df.shape

(32430, 3)

In [7]:
df_seq = pd.read_csv('gene_seq.csv')
df_seq.head()

   Unnamed: 0  GeneID                                           Sequence
0           0  PA0001  GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...
1           1  PA0002  ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAAC...
2           2  PA0003  ATGTCCCTGACCCGCGTTTCGGTCACCGCGGTGCGCAACCTGCACC...
3           3  PA0004  ATGAGCGAGAACAACACGTACGACTCTTCCAGCATCAAGGTGCTGA...
4           4  PA0005  ATGTCGACAGTGCAGGCCATCAGAACCGTCCTCTTTTACCTGCTGC...

In [8]:
df_seq = df_seq.drop('Unnamed: 0', axis=1)
df_seq.head()

   GeneID                                           Sequence
0  PA0001  GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...
1  PA0002  ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAAC...
2  PA0003  ATGTCCCTGACCCGCGTTTCGGTCACCGCGGTGCGCAACCTGCACC...
3  PA0004  ATGAGCGAGAACAACACGTACGACTCTTCCAGCATCAAGGTGCTGA...
4  PA0005  ATGTCGACAGTGCAGGCCATCAGAACCGTCCTCTTTTACCTGCTGC...

In [9]:
df_seq.rename(columns={'GeneID': 'geneID1'}, inplace=True)
df_seq.head()

  geneID1                                           Sequence
0  PA0001  GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...
1  PA0002  ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAAC...
2  PA0003  ATGTCCCTGACCCGCGTTTCGGTCACCGCGGTGCGCAACCTGCACC...
3  PA0004  ATGAGCGAGAACAACACGTACGACTCTTCCAGCATCAAGGTGCTGA...
4  PA0005  ATGTCGACAGTGCAGGCCATCAGAACCGTCCTCTTTTACCTGCTGC...

In [10]:
df_full = pd.merge(df, df_seq, on='geneID1')
df_full.head()

,geneID1,geneID2,interaction,Sequence
0,PA0001,PA0002,1,GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...
1,PA0001,PA0003,1,GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...
2,PA0001,PA0004,1,GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...
3,PA0001,PA0010,1,GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...
4,PA0001,PA0357,1,GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...

In [11]:
df_full.rename(columns={'Sequence': 'sequence1'}, inplace=True)
df_full.head()

,geneID1,geneID2,interaction,sequence1
0,PA0001,PA0002,1,GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...
1,PA0001,PA0003,1,GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...
2,PA0001,PA0004,1,GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...
3,PA0001,PA0010,1,GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...
4,PA0001,PA0357,1,GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...

In [12]:
df_seq.rename(columns={'geneID1': 'geneID2'}, inplace=True)
df_seq.head()

  geneID2                                           Sequence
0  PA0001  GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...
1  PA0002  ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAAC...
2  PA0003  ATGTCCCTGACCCGCGTTTCGGTCACCGCGGTGCGCAACCTGCACC...
3  PA0004  ATGAGCGAGAACAACACGTACGACTCTTCCAGCATCAAGGTGCTGA...
4  PA0005  ATGTCGACAGTGCAGGCCATCAGAACCGTCCTCTTTTACCTGCTGC...

In [13]:
df_full = pd.merge(df_full, df_seq, on='geneID2')
df_full.head()

,geneID1,geneID2,interaction,sequence1,Sequence
0,PA0001,PA0002,1,GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...,ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAAC...
1,PA4814,PA0002,0,ATGCGCACCCCCTACCCGCCGCTCGCCGCCGCTCCCTATCCGCACC...,ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAAC...
2,PA1822,PA0002,0,ATGGTCACAGGAGCCACGTCCCTCAGTCTGGTGCGCGACGAGTTGT...,ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAAC...
3,PA0740,PA0002,0,ATGAGCCGTCTGCTTGCACTCCTGGCGCTCGCCCCGCTGCTCGCCG...,ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAAC...
4,PA0001,PA0003,1,GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...,ATGTCCCTGACCCGCGTTTCGGTCACCGCGGTGCGCAACCTGCACC...

In [14]:
df_full.rename(columns={'Sequence': 'sequence2'}, inplace=True)
df_full.head()

,geneID1,geneID2,interaction,sequence1,sequence2
0,PA0001,PA0002,1,GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...,ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAAC...
1,PA4814,PA0002,0,ATGCGCACCCCCTACCCGCCGCTCGCCGCCGCTCCCTATCCGCACC...,ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAAC...
2,PA1822,PA0002,0,ATGGTCACAGGAGCCACGTCCCTCAGTCTGGTGCGCGACGAGTTGT...,ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAAC...
3,PA0740,PA0002,0,ATGAGCCGTCTGCTTGCACTCCTGGCGCTCGCCCCGCTGCTCGCCG...,ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAAC...
4,PA0001,PA0003,1,GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...,ATGTCCCTGACCCGCGTTTCGGTCACCGCGGTGCGCAACCTGCACC...

In [15]:
cols = list(df_full.columns)

In [16]:
print cols

['geneID1', 'geneID2', 'interaction', 'sequence1', 'sequence2']

In [19]:
cols2 = cols[:2] + cols[3:] + [cols[2]]
print cols2

['geneID1', 'geneID2', 'sequence1', 'sequence2', 'interaction']

In [20]:
df_full2 = df_full[cols2]
df_full2.head()

,geneID1,geneID2,sequence1,sequence2,interaction
0,PA0001,PA0002,GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...,ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAAC...,1
1,PA4814,PA0002,ATGCGCACCCCCTACCCGCCGCTCGCCGCCGCTCCCTATCCGCACC...,ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAAC...,0
2,PA1822,PA0002,ATGGTCACAGGAGCCACGTCCCTCAGTCTGGTGCGCGACGAGTTGT...,ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAAC...,0
3,PA0740,PA0002,ATGAGCCGTCTGCTTGCACTCCTGGCGCTCGCCCCGCTGCTCGCCG...,ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAAC...,0
4,PA0001,PA0003,GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...,ATGTCCCTGACCCGCGTTTCGGTCACCGCGGTGCGCAACCTGCACC...,1

In [21]:
df_full2 = df_full2.sample(frac=1).reset_index(drop=True)
df_full2.head()

,geneID1,geneID2,sequence1,sequence2,interaction
0,PA1165,PA2424,ATGCGCGCCATGAACGACCGTCTCCCCTCCTTCTGCACCCCGCTGG...,ATGATGGACGCCTTCGAACTTCCCACCACCCTGGTCCAGGCCCTGC...,1
1,PA1708,PA1868,ATGAATCCGATAACGCTTGAACGCGCCGGACTGCCCTACGGGGTGG...,ATGCCACGTTGTAGTACCCGTTCCGCCCAGCGCCTGTCTCCGCTGT...,1
2,PA0342,PA1124,ATGAAACAGTACCTCGACCTGATGCGCCACGTGCGCGAGCACGGCA...,ATGCCAGGGGCCGTGGATTTCAAGGAGCGGATATCCCGCCAGCGTC...,1
3,PA4275,PA4853,GTGGCTAAGCGTTGGTACGTTGTGCATGCATACTCGGGCTACGAGA...,ATGACAACGATGACGACCGAGACTTTAGTGAGTGGAACAACGCCCG...,1
4,PA0036,PA4138,ATGACTTCCTATCGCAACGGCCCCGACGCCAAGGGCCTGTTCGGCC...,GTGTCCGTCCCGACCCATCAGCAAGACCTGATCGCCCTGCTCGAAG...,1

In [23]:
df_full2.tail()

,geneID1,geneID2,sequence1,sequence2,interaction
32425,PA1085,PA4083,ATGGATTCCCGTTTGCTCAGCGGTATCGGCGCAGGCCCCGACAGCG...,GTGACCGGCGTCGGCCTGGGCCGATGCGGCACGGCCTGGGTCCTGC...,1
32426,PA0411,PA1443,ATGAAGAAAATCAACGCAGGCAATCTTTTCGCGGGCATGCGCAGCA...,ATGGCCGTGCAAGATCTGCTTTCCCAGGATGAAATCGACGCGCTGT...,1
32427,PA2741,PA2320,ATGGCTCGTGTTAAGCGTGGCGTTATCGCCCGTCGTCGTCACAAGA...,ATGAGCATCACCAAGAACGACAAGAACACGCGAACCACCGGACGTC...,0
32428,PA0768,PA1706,ATGACACTCAATTTCCCGTTGTTGCTGGTCATCGCCGTGGCTGTAT...,ATGGAAGTCAGAAACCTTAATGCCGCTCGCGAGCTGTTCCTGGACG...,1
32429,PA2883,PA1004,ATGCCCTGGTACGCCTGGTTGATCATCGTCCTCGCCCTGGGCTCCA...,ATGACGCACATTTCCGAACGACTCCTGGTACAGGCCCACCTGGCCG...,0

In [24]:
df_full2.to_csv('gene_data.csv')

In [61]:
def get_kmers(bases, k):
    """"
    bases: list, a list of the four bases: ['A','T','G','C'] 
    k: int, kmer value, k<len(bases)
    returns: dict, key: kmer, val: position of kmer in the feature vector
    """"
    kmers = [''.join(p) for p in itertools.product(bases, repeat=k)]
    val = list(xrange(pow(len(bases), k)))
    kmers_pos = dict(zip(kmers, val))
    return kmers_pos

In [45]:
def get_kmer_seq(seq, k):
    """"
    seq: str, a gene sequence
    k: int, kmer value
    returns: list, kmer_seq: list of all kmer sequences from the original sequence
    """"
    kmer_seq = []
    seq_list = list(seq)
    for i in xrange(len(seq_list)-k+1):
        bs = ''.join(seq_list[i:i+k])
        kmer_seq.append(bs)
    return kmer_seq

In [160]:
def get_seq_vec(sequence, kmers_pos, k):
    kmer_seqs = get_kmer_seq(sequence[:-1], k)
    seq_dict = Counter(kmer_seqs)
    vec = np.zeros((pow(4,k),1))
    for k1 in seq_dict.keys():
        num = kmers_pos[k1]
        vec[num,0] = seq_dict[k1]
    vec_norm = (vec-np.min(vec))/np.max(vec)
    vlist = np.transpose(vec_norm).tolist()
    return pd.Series(vlist)
#     return vlist

In [161]:
type(range(0,64))
rng = range(0,64)
cols = [str(x) for x in rng]
print cols

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63']

In [163]:
from functools import partial
base_list = ['A','T','G','C']
kmers_pos = get_kmers(base_list, 3)
df_seq3 = df_seq
# df_seq3[range(0,64)] = df_seq3['Sequence'].apply(get_seq_vec, args=(kmers_pos, 3))
df_seq3['CT'] = df_seq3.apply(lambda row: get_seq_vec(row['Sequence'], kmers_pos, 3), axis=1)
#df_seq3.head()

In [167]:
df_ct = df_seq3['CT'].apply(pd.Series)
df_seq_ct = pd.concat([df_seq3, df_ct], axis = 1)
df_seq_ct.head()

,geneID2,Sequence,CT,0,1,2,3,4,5,6,...,54,55,56,57,58,59,60,61,62,63
0,PA0001,GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...,"[0.016393442623, 0.0983606557377, 0.4918032786...",0.016393,0.098361,0.491803,0.426230,0.016393,0.065574,0.131148,...,0.573770,0.295082,0.590164,0.442623,0.573770,0.950820,0.540984,0.475410,0.803279,0.393443
1,PA0002,ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAAC...,"[0.1, 0.05, 0.5, 0.55, 0.025, 0.2, 0.25, 0.325...",0.100000,0.050000,0.500000,0.550000,0.025000,0.200000,0.250000,...,0.950000,0.325000,0.850000,0.550000,0.575000,0.800000,0.625000,0.500000,0.975000,0.325000
2,PA0003,ATGTCCCTGACCCGCGTTTCGGTCACCGCGGTGCGCAACCTGCACC...,"[0.146341463415, 0.0975609756098, 0.3414634146...",0.146341,0.097561,0.341463,0.414634,0.073171,0.268293,0.341463,...,0.731707,0.487805,0.390244,0.292683,0.804878,0.878049,0.609756,0.609756,0.634146,0.560976
3,PA0004,ATGAGCGAGAACAACACGTACGACTCTTCCAGCATCAAGGTGCTGA...,"[0.104651162791, 0.0697674418605, 0.7558139534...",0.104651,0.069767,0.755814,0.488372,0.058140,0.034884,0.337209,...,0.837209,0.302326,0.837209,0.360465,0.674419,1.000000,0.627907,0.558140,0.895349,0.418605
4,PA0005,ATGTCGACAGTGCAGGCCATCAGAACCGTCCTCTTTTACCTGCTGC...,"[0.121951219512, 0.0, 0.390243902439, 0.195121...",0.121951,0.000000,0.390244,0.195122,0.000000,0.048780,0.097561,...,0.585366,0.317073,0.390244,0.292683,0.487805,0.756098,0.560976,0.390244,0.804878,0.487805

In [50]:
seq = df_full2.iloc[0,2][:-1]
#print seq
kmer_seq = get_kmer_seq(seq,3)
#print kmer_seq
seq_dict = Counter(kmer_seq)
print seq_dict

Counter({'CGC': 53, 'GCG': 45, 'GCC': 42, 'GGC': 39, 'CCG': 36, 'CTG': 35, 'CGG': 26, 'CGA': 25, 'TGG': 25, 'GCT': 24, 'CCT': 21, 'CCC': 19, 'TGC': 19, 'GAC': 19, 'ACC': 18, 'TCG': 17, 'CTC': 15, 'ACG': 13, 'AGC': 12, 'GCA': 12, 'GGA': 11, 'TTC': 11, 'GAA': 11, 'CAC': 9, 'CCA': 9, 'CAG': 9, 'GTG': 9, 'AAC': 8, 'TCT': 8, 'ATG': 7, 'AAG': 7, 'GGT': 7, 'GAG': 7, 'CGT': 7, 'AGG': 6, 'CAT': 6, 'TCC': 6, 'TCA': 6, 'GTC': 6, 'ATC': 5, 'ACT': 5, 'CTT': 5, 'CAA': 5, 'GGG': 5, 'GTT': 5, 'GAT': 4, 'TGA': 4, 'CTA': 3, 'AGT': 3, 'TGT': 3, 'ACA': 2, 'AAA': 2, 'TAT': 2, 'TTT': 2, 'TAC': 2, 'AGA': 2, 'ATA': 1, 'AAT': 1, 'ATT': 1})

In [51]:
seq_dict['CGC']

53

In [169]:
df_seq_ct.rename(columns={'geneID2': 'geneID1'}, inplace=True)
df_seq_ct.head()

,geneID1,Sequence,CT,0,1,2,3,4,5,6,...,54,55,56,57,58,59,60,61,62,63
0,PA0001,GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...,"[0.016393442623, 0.0983606557377, 0.4918032786...",0.016393,0.098361,0.491803,0.426230,0.016393,0.065574,0.131148,...,0.573770,0.295082,0.590164,0.442623,0.573770,0.950820,0.540984,0.475410,0.803279,0.393443
1,PA0002,ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAAC...,"[0.1, 0.05, 0.5, 0.55, 0.025, 0.2, 0.25, 0.325...",0.100000,0.050000,0.500000,0.550000,0.025000,0.200000,0.250000,...,0.950000,0.325000,0.850000,0.550000,0.575000,0.800000,0.625000,0.500000,0.975000,0.325000
2,PA0003,ATGTCCCTGACCCGCGTTTCGGTCACCGCGGTGCGCAACCTGCACC...,"[0.146341463415, 0.0975609756098, 0.3414634146...",0.146341,0.097561,0.341463,0.414634,0.073171,0.268293,0.341463,...,0.731707,0.487805,0.390244,0.292683,0.804878,0.878049,0.609756,0.609756,0.634146,0.560976
3,PA0004,ATGAGCGAGAACAACACGTACGACTCTTCCAGCATCAAGGTGCTGA...,"[0.104651162791, 0.0697674418605, 0.7558139534...",0.104651,0.069767,0.755814,0.488372,0.058140,0.034884,0.337209,...,0.837209,0.302326,0.837209,0.360465,0.674419,1.000000,0.627907,0.558140,0.895349,0.418605
4,PA0005,ATGTCGACAGTGCAGGCCATCAGAACCGTCCTCTTTTACCTGCTGC...,"[0.121951219512, 0.0, 0.390243902439, 0.195121...",0.121951,0.000000,0.390244,0.195122,0.000000,0.048780,0.097561,...,0.585366,0.317073,0.390244,0.292683,0.487805,0.756098,0.560976,0.390244,0.804878,0.487805

In [170]:
df_full2 = pd.merge(df_full2, df_seq_ct, on='geneID1')
df_full2.head()

,geneID1,geneID2,sequence1,sequence2,interaction,Sequence,CT,0,1,2,...,54,55,56,57,58,59,60,61,62,63
0,PA1165,PA2424,ATGCGCGCCATGAACGACCGTCTCCCCTCCTTCTGCACCCCGCTGG...,ATGATGGACGCCTTCGAACTTCCCACCACCCTGGTCCAGGCCCTGC...,1,ATGCGCGCCATGAACGACCGTCTCCCCTCCTTCTGCACCCCGCTGG...,"[0.0377358490566, 0.0188679245283, 0.132075471...",0.037736,0.018868,0.132075,...,0.660377,0.283019,0.471698,0.132075,0.490566,1.0,0.169811,0.396226,0.679245,0.358491
1,PA1165,PA0867,ATGCGCGCCATGAACGACCGTCTCCCCTCCTTCTGCACCCCGCTGG...,ATGAAAAAAGCGCTCTGGCTGCTTCTGGCTGCCGTTCCCGTGGTCC...,0,ATGCGCGCCATGAACGACCGTCTCCCCTCCTTCTGCACCCCGCTGG...,"[0.0377358490566, 0.0188679245283, 0.132075471...",0.037736,0.018868,0.132075,...,0.660377,0.283019,0.471698,0.132075,0.490566,1.0,0.169811,0.396226,0.679245,0.358491
2,PA1165,PA2399,ATGCGCGCCATGAACGACCGTCTCCCCTCCTTCTGCACCCCGCTGG...,GTGCAAGCACTCATAGAGAAGGTGGGCTCCCTTTCCCCCCAGGAAA...,1,ATGCGCGCCATGAACGACCGTCTCCCCTCCTTCTGCACCCCGCTGG...,"[0.0377358490566, 0.0188679245283, 0.132075471...",0.037736,0.018868,0.132075,...,0.660377,0.283019,0.471698,0.132075,0.490566,1.0,0.169811,0.396226,0.679245,0.358491
3,PA1165,PA4469,ATGCGCGCCATGAACGACCGTCTCCCCTCCTTCTGCACCCCGCTGG...,ATGCGTCATTGGCAACGAACGATCGAACAGGGCAACCGCTGTTTCG...,0,ATGCGCGCCATGAACGACCGTCTCCCCTCCTTCTGCACCCCGCTGG...,"[0.0377358490566, 0.0188679245283, 0.132075471...",0.037736,0.018868,0.132075,...,0.660377,0.283019,0.471698,0.132075,0.490566,1.0,0.169811,0.396226,0.679245,0.358491
4,PA1165,PA4887,ATGCGCGCCATGAACGACCGTCTCCCCTCCTTCTGCACCCCGCTGG...,ATGTTCAGCCCGCTCGTCACCTTTCCCGCGCTCTACACCGCCACCC...,0,ATGCGCGCCATGAACGACCGTCTCCCCTCCTTCTGCACCCCGCTGG...,"[0.0377358490566, 0.0188679245283, 0.132075471...",0.037736,0.018868,0.132075,...,0.660377,0.283019,0.471698,0.132075,0.490566,1.0,0.169811,0.396226,0.679245,0.358491

In [171]:
df_seq_ct.rename(columns={'geneID1': 'geneID2'}, inplace=True)
df_seq_ct.head()

,geneID2,Sequence,CT,0,1,2,3,4,5,6,...,54,55,56,57,58,59,60,61,62,63
0,PA0001,GTGTCCGTGGAACTTTGGCAGCAGTGCGTGGATCTTCTCCGCGATG...,"[0.016393442623, 0.0983606557377, 0.4918032786...",0.016393,0.098361,0.491803,0.426230,0.016393,0.065574,0.131148,...,0.573770,0.295082,0.590164,0.442623,0.573770,0.950820,0.540984,0.475410,0.803279,0.393443
1,PA0002,ATGCATTTCACCATTCAACGCGAAGCCCTGTTGAAACCGCTGCAAC...,"[0.1, 0.05, 0.5, 0.55, 0.025, 0.2, 0.25, 0.325...",0.100000,0.050000,0.500000,0.550000,0.025000,0.200000,0.250000,...,0.950000,0.325000,0.850000,0.550000,0.575000,0.800000,0.625000,0.500000,0.975000,0.325000
2,PA0003,ATGTCCCTGACCCGCGTTTCGGTCACCGCGGTGCGCAACCTGCACC...,"[0.146341463415, 0.0975609756098, 0.3414634146...",0.146341,0.097561,0.341463,0.414634,0.073171,0.268293,0.341463,...,0.731707,0.487805,0.390244,0.292683,0.804878,0.878049,0.609756,0.609756,0.634146,0.560976
3,PA0004,ATGAGCGAGAACAACACGTACGACTCTTCCAGCATCAAGGTGCTGA...,"[0.104651162791, 0.0697674418605, 0.7558139534...",0.104651,0.069767,0.755814,0.488372,0.058140,0.034884,0.337209,...,0.837209,0.302326,0.837209,0.360465,0.674419,1.000000,0.627907,0.558140,0.895349,0.418605
4,PA0005,ATGTCGACAGTGCAGGCCATCAGAACCGTCCTCTTTTACCTGCTGC...,"[0.121951219512, 0.0, 0.390243902439, 0.195121...",0.121951,0.000000,0.390244,0.195122,0.000000,0.048780,0.097561,...,0.585366,0.317073,0.390244,0.292683,0.487805,0.756098,0.560976,0.390244,0.804878,0.487805

In [172]:
df_full2 = pd.merge(df_full2, df_seq_ct, on='geneID2')
df_full2.head()

,geneID1,geneID2,sequence1,sequence2,interaction,Sequence_x,CT_x,0_x,1_x,2_x,...,54_y,55_y,56_y,57_y,58_y,59_y,60_y,61_y,62_y,63_y
0,PA1165,PA2424,ATGCGCGCCATGAACGACCGTCTCCCCTCCTTCTGCACCCCGCTGG...,ATGATGGACGCCTTCGAACTTCCCACCACCCTGGTCCAGGCCCTGC...,1,ATGCGCGCCATGAACGACCGTCTCCCCTCCTTCTGCACCCCGCTGG...,"[0.0377358490566, 0.0188679245283, 0.132075471...",0.037736,0.018868,0.132075,...,0.731259,0.205092,0.647808,0.25884,0.639321,0.998586,0.321075,0.454031,0.770863,0.302687
1,PA4520,PA2424,GTGAAGACCGTACTCTATCCCGCCATCGCGCTGATGAACCGGCTCA...,ATGATGGACGCCTTCGAACTTCCCACCACCCTGGTCCAGGCCCTGC...,0,GTGAAGACCGTACTCTATCCCGCCATCGCGCTGATGAACCGGCTCA...,"[0.0808080808081, 0.10101010101, 0.22222222222...",0.080808,0.101010,0.222222,...,0.731259,0.205092,0.647808,0.25884,0.639321,0.998586,0.321075,0.454031,0.770863,0.302687
2,PA1266,PA2424,ATGAGCGCCGACTACGACCTGCTGATCGTCGGTGCCGGCCCCGCCG...,ATGATGGACGCCTTCGAACTTCCCACCACCCTGGTCCAGGCCCTGC...,0,ATGAGCGCCGACTACGACCTGCTGATCGTCGGTGCCGGCCCCGCCG...,"[0.0, 0.0392156862745, 0.078431372549, 0.11764...",0.000000,0.039216,0.078431,...,0.731259,0.205092,0.647808,0.25884,0.639321,0.998586,0.321075,0.454031,0.770863,0.302687
3,PA3585,PA2424,ATGTTCAAGGCGCTGATCGGCGCCGCCGTGGTCGTGCTCCTCGCCG...,ATGATGGACGCCTTCGAACTTCCCACCACCCTGGTCCAGGCCCTGC...,0,ATGTTCAAGGCGCTGATCGGCGCCGCCGTGGTCGTGCTCCTCGCCG...,"[0.0, 0.0, 0.263157894737, 0.0526315789474, 0....",0.000000,0.000000,0.263158,...,0.731259,0.205092,0.647808,0.25884,0.639321,0.998586,0.321075,0.454031,0.770863,0.302687
4,PA2399,PA2424,GTGCAAGCACTCATAGAGAAGGTGGGCTCCCTTTCCCCCCAGGAAA...,ATGATGGACGCCTTCGAACTTCCCACCACCCTGGTCCAGGCCCTGC...,1,GTGCAAGCACTCATAGAGAAGGTGGGCTCCCTTTCCCCCCAGGAAA...,"[0.0455927051672, 0.0607902735562, 0.179331306...",0.045593,0.060790,0.179331,...,0.731259,0.205092,0.647808,0.25884,0.639321,0.998586,0.321075,0.454031,0.770863,0.302687

In [173]:
df_full2.to_csv('gene_data_ct.csv')